<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>The About Page</title>
    </head>
    <body>
        {{> header}}
        <p>
            About here
        </p>
        {{> footer}}
    </body>
</html>